    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Star Admin2 </title>
<!-- plugins:css -->
<link rel="stylesheet" href="~/css/vendors/feather/feather.css">
<link rel="stylesheet" href="~/css/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/css/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/css/vendors/typicons/typicons.css">
<link rel="stylesheet" href="~/css/vendors/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="~/css/vendors/css/vendor.bundle.base.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<!-- endinject -->

<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="~/images/ffavicon.png">